node_modules/
.env
env
firebase-service-account.json
dist-electron/
.DS_Store
vpn-scanner/.tmp/
vpn-scanner/logs/
vpn_pids/
browser_sessions/
functions/src/
functions/python_script/
functions/.env
functions/node_modules*/
request_debug.log
uploads/
.firebase/
